In [ ]:
Group 24 Project

In [ ]:
How does trauma relate to income levels


Potential variables to use:
- Tratot5: trauma last five years
- Divorce5: divorce last five years
- Hitage: beaten as a child or adult
- Arrest: have you been picked up or charged by police
- Income16: income in 2016

In [1]:
# load in data
import pandas as pd
import os

# get file path and read the .csv
cwd = os.getcwd() 
file_path = os.path.join(cwd, 'gss.csv') 
df = pd.read_csv(file_path, low_memory=False)

In [25]:
vlist = ['trato5','divorce5','hitage','arrest','income16'] # keep only wanted variables
gss_filter = df.filter(vlist) # create new filtered dataset
gss_filter.head()

  divorce5 hitage arrest income16
0      NaN    NaN    NaN      NaN
1      NaN    NaN    NaN      NaN
2      NaN    NaN    NaN      NaN
3      NaN    NaN    NaN      NaN
4      NaN    NaN    NaN      NaN

In [26]:
df.to_csv('gss.filter.csv', index=False) # save filtered dataset