In [ ]:
Group 24 Project

In [ ]:
How does trauma relate to income levels


Potential variables to use:
- Tratot5: trauma last five years
- Divorce5: divorce last five years
- Hitage: beaten as a child or adult
- Arrest: have you been picked up or charged by police
- Income16: income in 2016

In [1]:
# load in data
import pandas as pd
import os

In [2]:
# get file path and read the .csv
cwd = os.getcwd() 
file_path = os.path.join(cwd, 'gss.csv') 
df = pd.read_csv(file_path, low_memory=False)

In [5]:
df['tratot5'].head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: tratot5, dtype: float64

In [6]:
vlist = ['tratot5','divorce5','hitage','arrest','income16'] # keep only wanted variables
gss_filter = df.filter(vlist) # create new filtered dataset
gss_filter.head()

   tratot5 divorce5 hitage arrest income16
0      NaN      NaN    NaN    NaN      NaN
1      NaN      NaN    NaN    NaN      NaN
2      NaN      NaN    NaN    NaN      NaN
3      NaN      NaN    NaN    NaN      NaN
4      NaN      NaN    NaN    NaN      NaN

In [7]:
gss_filter.to_csv('gss_filter.csv', index=False) # save filtered dataset

In [13]:
cwd = os.getcwd() 
file_path = os.path.join(cwd, 'gss_filter.csv')
gss_filter = pd.read_csv(file_path, low_memory=False)

In [20]:
gss_filter.head()

   tratot5 divorce5 hitage arrest income16
0      NaN      NaN    NaN    NaN      NaN
1      NaN      NaN    NaN    NaN      NaN
2      NaN      NaN    NaN    NaN      NaN
3      NaN      NaN    NaN    NaN      NaN
4      NaN      NaN    NaN    NaN      NaN

In [35]:
gss_filter.shape

(72390, 5)

In [29]:
# find unique values in each column to cleaning
ut5 = gss_filter['tratot5'].unique()
print('tratot5:', ut5)

ud5 = gss_filter['divorce5'].unique()
print("divorce5:", ud5)

uhit = gss_filter['hitage'].unique()
print("hitage:", uhit)

uarr = gss_filter['arrest'].unique()
print("arrest:", uarr)

ui16 = gss_filter['income16'].unique()
print("income16:", ui16)

tratot5: [nan  4.  1.  5.  2.  3.  0.  6.  7.]
divorce5: [nan 'none' 'prior 4 years' 'last year' 'both']
hitage: [nan 'child' 'both' 'adult']
arrest: [nan 'no' 'yes' 'refused_(3)']
income16: [nan '$170,000 or over' '$50,000 to $59,999' '$75,000 to $89,999'
 '$60,000 to $74,999' '$30,000 to $34,999' 'under $1,000'
 '$8,000 to $9,999' '$12,500 to $14,999' '$40,000 to $49,999'
 '$5,000 to $5,999' '$35,000 to $39,999' '$25,000 to $29,999'
 '$90,000 to $109,999' '$22,500 to $24,999' '$20,000 to $22,499'
 '$110,000 to $129,999' '$150,000 to $169,999' '$130,000 to $149,999'
 '$1,000 to $2,999' '$17,500 to $19,999' '$6,000 to $6,999'
 '$10,000 to $12,499' '$15,000 to $17,499' '$7,000 to $7,999'
 '$3,000 to $3,999' '$4,000 to $4,999']

In [34]:
vct5 = gss_filter['tratot5'].value_counts()
print(vct5)

vcd5 = gss_filter['divorce5'].value_counts()
print(vcd5)

vchit = gss_filter['hitage'].value_counts()
print(vchit)

vcarr = gss_filter['arrest'].value_counts()
print(vcarr)

vci16 = gss_filter['income16'].value_counts()
print(vci16)

2.0    1584
3.0    1455
1.0    1063
4.0     890
5.0     384
0.0     377
6.0      94
7.0       8
Name: tratot5, dtype: int64
none             13188
prior 4 years      888
last year          312
both               111
Name: divorce5, dtype: int64
child    2849
adult    2402
both     1538
Name: hitage, dtype: int64
no             10781
yes             1558
refused_(3)        3
Name: arrest, dtype: int64
$60,000 to $74,999      1144
$170,000 or over        1037
$75,000 to $89,999       935
$90,000 to $109,999      899
$50,000 to $59,999       886
$40,000 to $49,999       854
$110,000 to $129,999     630
$30,000 to $34,999       564
$35,000 to $39,999       515
$130,000 to $149,999     464
$25,000 to $29,999       455
$150,000 to $169,999     370
$10,000 to $12,499       349
$22,500 to $24,999       347
$20,000 to $22,499       332
$12,500 to $14,999       304
$15,000 to $17,499       247
$17,500 to $19,999       219
$8,000 to $9,999         183
under $1,000             172
$1,000 to $2,999         145
$3,000 to $3,999          80
$7,000 to $7,999          70
$5,000 to $5,999          67
$6,000 to $6,999          50
$4,000 to $4,999          49
Name: income16, dtype: int64